* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  text-decoration: none;
  list-style-type: none;
}
:root {
  --blue: rgb(29, 117, 187);
  --green: rgb(140, 198, 63);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --grey: rgb(44, 44, 44);
  --content-width-desktop: 80%;
  --text-size-small: .9em;
  --text-size-normal: 1em;
  --text-size-mid: 1.3em;
  --text-size-medium: 1.5em;
  --text-size-large: 2em;
  --text-size-larger: 3em;
  --text-size-largest: 3.5em;
  --text-align-center: center;
  --section-top-padding: 50px;
  --inner-two-columns: 1fr 3fr;
  --two-columns: 1fr 1fr;
  --three-columns: repeat(auto-fit, minmax(300px, 1fr));
  --four-columns: repeat(auto-fit, minmax(300px, 1fr));
  --column-width: 90%;
  --column-style-two-width: 90%;
  --two-column-width: 100%;
  --justify-left: left;
  --justify-right: right;
  --align-center: center;
  --paragraph-padding: 0% 3%;
  --desktop-padding: 10% 3%;
  --call-to-action-padding: 10% 3%;
}
/* *::-webkit-scrollbar {
  display: none;
} */
body {
  background: var(--white);
}
a {
  color: var(--blue);
}
p {
  font-size: var(--text-size-normal)
}
/* PARAGRAPH STYLES */
.p-style-one {
  font-size: var(--text-size-normal);
  padding-bottom: 15px;
  line-height: 25px;
  padding-left: 10px;
  color: var(--grey)

}
.p-style-two {
  font-size: var(--text-size-medium);
}
.list-style-one {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  list-style-type: square;
  list-style-position: inside;
  text-indent: 20px;
  padding-bottom: 10px;
  font-size: var(--text-size-small);
    
}
h1 {
  font-size: var(--text-size-largest);
  padding-bottom: 20px;
}
h2 {
  font-size: var(--text-size-larger)
}
h3 {
  font-size: var(--text-size-large)
}
h4 {
  font-size: var(--text-size-medium);
  padding-bottom: 5px;
}
.link-style-one {
  color: rgb(29, 117, 187);
}
li {
  padding-top: 5px;
}
li a:hover{
  color: var(--blue);
}
.pad-left-right {
  padding: var(--paragraph-padding)
}
.text-center {
  text-align: center;
}
.color-black {
  color: var(--black)
}
.color-white {
  color: var(--white)
}
.title-style-one {
  font-weight: 400;
  padding-bottom: 40px;
  width: min-content;
}
.title-style-two {
  font-weight: 400;
  border-left: 10px solid transparent;
  width: max-content;
  border-image-source: url('../images/left_title_border.svg') ;
  border-image-width: 10px 0px 0px 10px;
}
.title-style-three {
  font-weight: 400;
}
.inline-unordered-list {
  display: flex;
}
.inline-list {
  display: grid;
}
.justify-left {
  justify-items: var(--justify-left);
}
.justify-right {
  justify-items: var(--justify-right);
}
.align-center {
  align-self: var(--align-center);
}
.feature-icons {
  width: 75px;
}
.footnote {
  display: grid;
  width: 100%;
  font-size: var(--text-size-small);
}

.img {
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 400px;
  padding-bottom: 20px;
}
.illustration {
  width: 100%;
}
.illustration2 {
  width: 50%;
}

.bold {
  font-weight: bold;
}
.bold-two {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8)
}
.blue {
  color: var(--blue)
}
.light {
  font-weight: 400;
}
/* This is the hero section or call to action */
main {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.svgheader {
  height: 700px;
  width: 100%;
}
/* Overal Website Wrapper */

/* SECTIONS - INDEX */
.call-to-action {
  display: grid;
  margin: auto;
  width: var(--content-width-desktop);
  height: 800px;
  margin-top: 70px;
  padding-top: 150px;
}
.page-header-bg {
  height: 500px;
  width: 100%;
}
.page-header {
  display: grid;
  margin: auto;
  align-content: center;
  width: var(--content-width-desktop);
  height: 500px;
  margin-bottom: 70px;
}
.blank-page {
  display: grid;
  margin: auto;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  width: var(--content-width-desktop);
}
.enrollment-page {
  display: grid;
  margin: auto;
  width: 100%;
  padding-top: 150px;
  background: rgb(100,255,167);
  background: linear-gradient(270deg, rgba(100,255,167,1) 3%, rgba(0,69,255,1) 100%);
  padding-bottom: 150px;
}
.enrollment-page-interior {
  display: grid;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  width: var(--content-width-desktop);
}
.features-section {
  display: grid;
  margin: auto;
  width: var(--content-width-desktop);
  justify-items: center;
  justify-content: center;
  padding-bottom: 150px;
  border-bottom: 2px ridge rgba(0, 0, 0, 0.1);
}
.gallery-section {
  display: grid;
  margin: auto;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  width: var(--content-width-desktop);
}
.benefit-section {
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--desktop-padding);
}
footer {
  display: grid;
  width: 100%;
}

/* GRID COLUMN TEMPLATES */
.one-column {
  display: grid;
  grid-template-columns: var(--one-column);
  justify-items: center;
  text-align: center;

}
.two-columns {
  display: grid;
  grid-template-columns: var(--two-columns);
  align-items: flex-start;
}
.inner-two-columns {
  display: grid;
  grid-template-columns: var(--inner-two-columns);
  color: var(--black);
  justify-items: center;
  align-items: flex-start;
}
.three-columns {
  display: grid;
  margin: auto;
  grid-template-columns: var(--three-columns);
  justify-items: space-between;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}
.four-columns {
  display: grid;
  grid-template-columns: var(--four-columns);
  justify-items: center;
  align-items: flex-start;
}
.column {
  display: grid;
  align-content: space-around;
  width: 80%;
}
.footer-column {
  display: grid;
  justify-self: center;
  justify-content: center;
  width: 100%;
  padding: 3%;
}
.column-style-two {
  display: grid;
  width: var(--column-style-two-width);
}
.column-style-three {
  display: grid;
  justify-self: center;
  align-content: flex-start;
  width: 70%;
  padding-top: 75px;
}
.logo-footer {
  display: grid;
  justify-self: center;
  width: 75%;
}
footer {
  display: grid;
  padding: 3% 3%;
  background: var(--green);
}
.footer-columns {
  display: grid;
  justify-self: center;
  width: 100%;
  align-content: flex-start;
}
.align-self-center-column {
  display: grid;
  justify-self: center;
  justify-content: center;
  align-self: center;
  width: 50%;
}
.align-self-center-column div{
  padding-bottom: 20px;
}

/* BUTTONS - INDEX */
.btn-style-one {
  display: inline-grid;
  margin-top: 20px;
  margin-right: 20px;
  width: 150px;
  border: 4px solid white;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
  color: white;
}
.btn-style-one:hover {
  border: 4px solid var(--green);
}

/* Form Index */
.login_form {
  display: grid;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  width: 200px;
  background: linear-gradient(360deg, rgb(176, 255, 212) 0%, rgba(140,198,63,1) 99%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 255, 13, .5);
  padding: 20px;
}
.input_field {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: none;
  padding: 5px;
}
.input_field:active {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: none;
  padding: 5px;
}

.enrollment-form-index {
  min-width: 200px;
  max-width: 80%;
  margin: 0;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 12px;
  color: var(--blue)
}
.enrollment-form-index input[type='text'],
.enrollment-form-index input[type='option'],
.enrollment-form-index select,
.enrollment-form-index input[type="file"],
.enrollment-form-index input[type='tel'],
.enrollment-form-index input[type='date'],
.enrollment-form-index input[type='password'],
.enrollment-form-index input[type='email'] {
  min-width: 220px;
  width: 100%;
  padding: 22px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
  font-size: var(--text-size-normal);
  background: rgba(255, 255, 255, 1);
  height: 55px;
}
.enroll-img {
  width: 40%;
  padding: 20px;

}
.submit-btn {
  width: 100%;
  height: 55px;
  background-color: var(--blue);
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: var(--text-size-normal);
}
.submit-btn:hover {
  background-color: var(--green);
  outline: none;
  border: none;
}
@media only screen and (max-width: 685px) {
  :root {
    --blue: rgb(29, 117, 187);
    --green: rgb(140, 198, 63);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --grey: rgb(44, 44, 44);
    --content-width-desktop: 90%;
    --text-size-small: .8em;
    --text-size-normal: 1em;
    --text-size-mid: 1.2em;
    --text-size-medium: 1.3em;
    --text-size-large: 1.5em;
    --text-size-larger: 1.75em;
    --text-size-largest: 2em;
    --text-align-center: center;
    --section-top-padding: 50px;
    --one-column: 1fr;
    --inner-two-columns: 1fr 3fr;
    --two-columns: 1fr;
    --three-columns: repeat(auto-fit, minmax(300px, 1fr));
    --four-columns: 1fr;
    --column-width: 100%;
    --column-style-two-width: 98%;
    --two-column-width: 100%;
    --justify-left: left;
    --justify-right: right;
    --align-center: center;
    --paragraph-padding: 0% 0%;
    --desktop-padding: 10% 1%;
    --call-to-action-padding: 10% 3%;
  }

    body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }

  .align-self-center-column {
    display: grid;
    justify-self: center;
    justify-content: center;
    align-self: center;
    width: 96%;
  }
 .st10 {
    display: none;
  }
  .footer-column {
    display: grid;
    justify-self: left;
    justify-content: left;
    width: 100%;
    padding: 6%;
  }
  .call-to-action {
    display: grid;
    margin: auto;
    justify-content: center;
    width: var(--content-width-desktop);
    height: 600px;
    margin-top: 70px;
    padding-bottom: 50px;
  }
  .features-section, .gallery-section {
    padding-bottom: 20px;
    padding-top: 20px;
  }
 
  .two-columns {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: flex-start;
  }
  .four-columns {
    display: grid;
    margin: auto;
    grid-template-columns: var(--four-columns);
    justify-items: center;
    align-items: flex-start;
    width: 96%;
  }
  .column-style-three {
    display: grid;
    justify-self: center;
    align-content: flex-start;
    width: 100%;
    padding-top: 20px;
  }
  .column {
    display: grid;
    justify-self: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-columns {
    display: grid;
    justify-self: left;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }
 .svgheader {
    height: 600px;
  }
}

@media only screen and (max-width: 300px) {
  body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }

  #index-form {
    display: none;
  }
  .align-self-center-column {
    display: grid;
    justify-self: center;
    justify-content: center;
    align-self: center;
    width: 100%;
  }
  .call-to-action {
    display: grid;
    margin: auto;
    width: var(--content-width-desktop);
    height: 400px;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .features-section {
    display: grid;
    width: var(--content-width-desktop);
  }
  .gallery-section {
    display: grid;
    margin: auto;
    padding: var(--desktop-padding);
  }
  .benefit-section {
    background: var(--green);
    padding: var(--desktop-padding);
  }

  .three-columns {
    display: grid;
    grid-template-columns: var(--one-column);
    justify-items: center;
    align-items: flex-start;
  }
  .column-style-two {
    display: grid;
    width: var(--column-style-two-width);
  }
  .two-columns {
    grid-template-columns: 1fr;
  }

  .four-columns {
    display: grid;
    grid-template-columns: var(--four-columns);
    background-color: var(--green);
    padding: 3%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
  }
  .column {
    display: grid;
    margin: auto;
    width: 96%;
    margin-top: 20px;
  }
  .svgheader {
  height: 400px;
}
.btn-style-one {
  margin-top: 20px;
  width: 120px;
  border: 4px solid white;
  border-radius: 20px;
  padding: 8px;
  padding-right: 0px;
  text-align: center;
  color: white;
}
}