* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}
body {
  background: white;
}

/* Classes */
h1 {
  color: white;
  font-size: 3.5em;
}
h2 {
  color: white;
  font-size: 2em;
}

.none {
  display: none;
}
.logo-menu {
  width: 70px;
}
.blue {
  color: rgb(29, 117, 187);
}
/* Properties */
.bold {
  font-weight: bold;
}
.white {
  color: white;
}

p {
  font-size: 1.3em;
  text-align: left;
  line-height: 35px;
}
.header_p {
  color: white;
  text-align: left;
}
/* Index DO NOT TOUCH */
.main_wrapper {
  display: grid;
  min-height: 800px;
  margin-top: 70px;
  width: 100%;
  justify-items: center;
}

.main_wrapper_two_col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  width: 100%;
  justify-self: center;
  justify-items: center;
  padding-top: 200px;

}
.main_wrapper_two_col > div{
  display: grid;
  position: relative;
  align-content: flex-start;
  height: min-content;
  width: 70%;
}
.main_wrapper_two_col > div:nth-child(2){
  display: grid;
  align-content: flex-start;
  justify-content: right;
  height: 100%;
  width: 70%;
}
.main_wrapper_two_col > div ul{
  align-content: flex-start;
}
.main_wrapper_two_col div ul li{
  display: inline-grid;

}
.heading-one {
  color: rgb(29, 117, 187);
  font-size: 2.5em;
}
    /* Overal Gradient BG */
.feature-content {
  display: grid;
  width: 100%;
  padding: 6% 0%;
  justify-self: center;
  justify-items: center;
}
.feature-content h1 {
  color: rgb(29, 117, 187);
  font-weight: 500;
}
.three-column-auto {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3,  minmax(250px, 1fr));
  
}
.three-column-auto > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-self: center;
  width: 100%;
  height: 100%;
  margin-top: 75px;
}
.three-column-auto div p{
  font-size: .8em;
  padding-top: 5px;
  line-height: 14pt;
}
.three-column-auto div div{
  padding: 0px 20px;
  font-size: 1em;
}	
.green-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(29, 117, 187);
  align-content: center;
  justify-items: center;
  padding: 6% 0%;

}
.img-sec {
  width: 100%;
}
.green-content > div {
  display: grid;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  color: white;
  max-width: 800px;
  width: 80%;
}
.green-content > div p {
  margin-top: 20px;
}
.green-content > div h2 {
  font-weight: 500;
}

@media only screen and (max-width: 1700px) {
  .main_wrapper_two_col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 100%;
    justify-self: center;
    justify-items: center;
    padding-top: 100px;
  
  }
}
  @media only screen and (max-width: 1345px) {
      .feature-content {
        margin-top: 150px;
      }

      .three-column-auto {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(2,  minmax(250px, 1fr));
        padding: 3% 3%;
        
      
      
      }
      .three-column-auto div p{
        font-size: .8em;
        padding-top: 5px;
        line-height: 14pt;
      }
      .three-column-auto div div{
        padding: 0px 20px;
      }
  }
  @media only screen and (max-width: 1294px) {
    .main_wrapper {
      display: grid;
      min-height: 800px;
      margin-top: 60px;
      width: 100%;
      justify-items: center;
    }
    .main_wrapper_two_col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      width: 100%;
      justify-self: center;
      justify-items: center;
      padding-top: 50px;
    
    }
    .svgheader {
      height: 600px;
      width: 100%;
    }
    .feature-content {
      margin-top: 50px;
    }
  }
  @media only screen and (max-width: 1100px) {
    .main_wrapper {
      display: grid;
      min-height: 800px;
      margin-top: 60px;
      width: 100%;
      justify-items: center;
    }
    .svgheader {
      height: 600px;
      width: 100%;
    }
  }
  @media only screen and (max-width: 1021px) {
    .main_wrapper_two_col {
      display: grid;
      grid-template-columns: 1fr;
    }
    .svgheader {
      height: 600px;
      width: 100%;
    }
    #index-form {
      display: none;
    }
    
  }
  @media only screen and (max-width: 900px) {
    #index-form {
      display: none;
    }
      .main_wrapper_two_col > div{
        display: grid;
        justify-content: center;
        justify-items: center;
        justify-self: center;
  
        }
      .st0 {
        width: 100%;
        height: 100%;
      }
      .header_p {
        color: white;
        text-align: center;
      }
      .enroll-btn {
        width:100px;
      }
      .st10 {
        display: none;
      }
      .three-column-auto {
        display: grid;
        width: 90%;
        grid-template-columns: minmax(250px, 1fr);
        padding: 3% 3%;
      }
      .heading-one {
        text-align: center;
      }
      .three-column-auto div p{
        font-size: .8em;
        padding-top: 5px;
        line-height: 14pt;
      }
      .three-column-auto div div{
        padding: 0px 20px;
      }
    }

/* Index */
.content-wrapper-odd, .content-wrapper-even {
  display: grid;
  margin: auto;
  grid-template-areas: 'col1 col2';
  grid-template-columns: 50% 50%;
  font-size: 1.2em;
}
.content-wrapper-odd > div, .content-wrapper-even > div {
  display: grid;
  padding: 3%;
  margin: 0;
  align-content: flex-start;
}

.content-wrapper-odd > div:nth-child(odd){
  display: grid;
  grid-area: col1;
  margin: 0;
  align-content: flex-start;
  padding: 3%;
}
.content-wrapper-odd > div:nth-child(even){
  display: grid;
  justify-content: flex-start;
  grid-area: col2;
  margin: 0;
  align-content: flex-start;
  padding: 3%;
}
.content-wrapper-even:nth-child(odd),
.content-wrapper-even:nth-child(even) {
  display: grid;
  justify-content: center;
  justify-items: left;
  align-content: flex-start;
  width: 100%;
  padding: 3%;
  background: rgb(245, 245, 245);
}
.content-wrapper-odd:nth-child(odd),
.content-wrapper-odd:nth-child(even) {
  display: grid;
  justify-content: center;
  justify-items: left;
  align-content: flex-start;
  width: 100%;
  padding: 3%;
}

/* FORM PROPERTIES */
#form_wrapper {
  display: grid;
  margin-top: 50px;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .5)

}
#form_wrapper .input_field {
  display: grid;
  width: 300px;
}
.helper {
  text-align: center;
  color: orange;
  padding: none;
  font-size: .8em;
}

.helper_suc {
  text-align: center;
  font-size: .8em;
  color: Green;
  padding: none;
}
/* Inputs */
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  height: 120px;
}

input[type='text'],
input[type='option'],
select,
input[type="file"],
input[type='tel'],
input[type='date'],
input[type='password'],
input[type='email'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: white;
}

.enrollment-form-index input[type='text'],
.enrollment-form-index input[type='option'],
.enrollment-form-index select,
.enrollment-form-index input[type="file"],
.enrollment-form-index input[type='tel'],
.enrollment-form-index input[type='date'],
.enrollment-form-index input[type='password'],
.enrollment-form-index input[type='email'] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
  background: rgba(255, 255, 255, 0.8);
  height: 30px;
}
label {
  color: rgb(85, 121, 122);
  font-weight: 500;
  font-size: .9em;
}
.inputFile {
  border: 1px solid #ccc;
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  cursor: pointer;
  height: 40px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  background: white;
}
.title {
  grid-area: title;
  align-content: flex-start;
  font-weight: bold;
  width: 100%;
  color: rgb(29, 117, 187);
  align-content: flex-start;
  text-transform: uppercase;
}
.date {
  grid-area: date;
  font-size: .9em;
}
.sc-content-wrapper {
  display: grid;
  padding: 3%;
  padding-top: 100px;

}
.username {
  grid-area: user;
  color: rgb(140, 198, 63);
}



.enrollment-form-index {
  min-width: 250px;
  max-width: 300px;
  margin: 0;
  background: rgb(176,251,255);
  background: linear-gradient(360deg, rgb(176, 255, 212) 0%, rgba(140,198,63,1) 99%);
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 12px;
}
.contact-form > input[type='text'] {
  margin-top: 20px;
}
.contact-form p,
h3 {
  color: rgb(29, 117, 187);
  text-align: center;
}
.message {
  height: 100px;
  width: 300px;
}

#footer {
  display: grid;
  justify-self: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  color: rgb(29, 117, 187);
  font-weight: normal;
  font-size: 1.2em;
  padding: 3%;
}

#footer a {
  color: rgb(29, 117, 187);
  text-decoration: none;
}
#footer ul {
  list-style-type: none;
  padding: 12px;
}
#footer ul li {
  list-style-type: none;
  padding: 5px;
}
#footer h3 {
  text-align: left;
  border-bottom: 1px solid rgb(29, 117, 187);
}
#footer > div {
  margin: 0 ;
  justify-items: center;
  justify-content: center;
  padding: 3%;
}
.footer-logo {
  display: grid;
  margin: auto;
  width: 50%;
}
.footer-p {
  margin: auto;
  text-align: center;
  color: black;
  font-size: .8em;
  padding: 20px;
}
/* Buttons */


.enroll-btn {
  display: inline-grid;
  margin: 0;
  margin-top: 20px;
  width: 175px;
  height: 45px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
  color: white;
  border: rgb(140, 198, 63);
  text-align: center;
  border: 3px solid rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  align-content: center;
  justify-self: left;
  border-radius: 50px;
}

a.enroll-btn-nav:hover {
transform: scale(.95);
transition: ease-in-out;
color: white;

}

.learn-btn {
  display: grid;
  margin-top: 20px;
  text-align: center;
  width: 130px;
  height: 45px;
  font-size: .8em;
  background-color: rgb(140, 198, 63);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
  color: white;
  border: rgb(140, 198, 63);
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  align-content: center;
}
.learn-btn2 {
  width: 130px;
  height: 45px;
  background-color: rgb(29, 117, 187);
  box-shadow: 0px 2px 6px black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
}
.submit-btn {
  display: grid;
  width: 100%;
  place-content: center;
  height: 45px;
  background-color: rgba(29, 117, 187, .7);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .4);
  color: white;
  border-radius: 5px;;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.admin-btn {
  display: grid;
  place-content: center;
  height: 45px;
  width: 100%;
  background-color: rgb(140, 198, 63);
  box-shadow: 0px 2px 6px black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.admin-btn:hover {
  background-color: rgb(235, 235, 235);
  color: rgb(29, 117, 187);
  cursor: pointer;
}
.submit-btn:hover,
.learn-btn2:hover {
  background-color: rgb(140, 198, 63);
  cursor: pointer;
}
.enroll-btn:hover {
  cursor: pointer;
  background: rgb(29, 117, 187);
}
.learn-btn:hover
 {
  cursor: pointer;
  background: rgb(29, 117, 187);
}

/* About Page */
.content-wrapper-sp {
  display: grid;
  justify-self: center;
  justify-content: center;
  grid-template-columns: 55%;
  overflow: hidden;
  padding: 3%;
  padding-top: 120px;

}
.content-wrapper-sp > div {
  display: grid;
  flex-shrink: initial;
  justify-content: center;
  justify-items: left;
  align-content: flex-start;
  padding: 3%;
}
/* Enrollment Page */
.enrollment-wrapper {
  display: grid;
  grid-template-areas: 'col1 ''col2' ;
  grid-template-columns: 100%;
  background: rgb(29, 117, 187);
  color: white;
  padding: 3%;
  padding-top: 50px;

}
.enrollment-wrapper > div:nth-child(1){
  display: grid;
  grid-area: col1;
  align-content: center;
  justify-content: center;
  justify-self: center;
  width: 80%;
  margin: 0;
  padding: 6%;
}
.enrollment-wrapper > div:nth-child(1) p{
  display: grid;
  align-content: flex-start;
  margin: 0;
  margin-bottom: 50px;
  color: white;

}
.enrollment-wrapper > div:nth-child(2){
  display: grid;
  align-content: flex-start;
  grid-area: col2;
  justify-content: center;
  justify-self: center;
  width: 100%;
  padding: 6%;

}
.enrollment-form {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  background: white;
  box-shadow: 0px 2px 10px black;
  padding: 20px;
  color: black;

}

.header_wrapper_enroll {
  display: grid;
  margin: 0 auto;
  place-content: center;
  width: 100%;
  height: 700px;
  background: url("../../KinderMission-assets/enroll.jpg")
}
/* Events Page */
.event-wrapper {
  display: grid;
  grid-template-areas: col col col;
  grid-template-columns: 1fr 1fr 1fr; 
  padding: 3%;
  padding-top: 80px;
  }
.events-h2 {
  display: grid;
  grid-column: 1 / span 3;
  padding: 3%;
  font-size: 3em;
  color: rgb(29, 117, 187);
}
.event-card {
  display: grid;
  grid-template-areas: 'image' 'content';
  grid-template-rows: 216px auto;
  width: 384px;
  box-shadow: 0px 0px 10px black;
  }
.event-card .image {
  display: grid;
  grid-area: image;
  }
.event-card .content {
  display: grid;
  grid-area: content;
  grid-template-areas: 'event-header''view-more';
  grid-template-rows: 1fr 40px;
  width: 100%;
  height: 250px;
  padding: 3%;
  }
.event-header {
  grid-area: event-header;
  width: 100%;
}
.event-view-more {
  grid-area: view-more;
  width: 100%;
  height: 40px;
  align-content: center;
  justify-content: center;

}
.event-button-view {
  display: grid;
  margin: auto;
  background: rgb(29, 117, 187);
  text-decoration: none;
  color: white;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-content: center;

}
.event-button-view:hover {
  background: rgb(140, 198, 63);
}
.event-title {
  color: rgb(29, 117, 187);
  font-weight: bold;
  font-size: 1.3em;
}
.event-user {
  color: rgb(140, 198, 63);
  font-weight: bold;
  font-size: .9em;
  font-style: italic;
}

.event-image {
  height: 216px;
  width: 384px;
}
.event-card .content  ul li{
  list-style-type: none;
  padding: 0;
  margin: 0;
  }
.event-view-wrapper {
  display: grid;
  justify-self: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 120px;  
}
.event-view-wrapper > div{
  width: 50%;
}
.view-event-image {
  width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}
/* Responsive */


@media only screen and (max-width: 1064px) {
  #nav {
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 60px;
    position: fixed;
    /* background: rgb(29, 117, 187); */
    background: rgb(29,117,187);
    background: linear-gradient(90deg, rgba(29,117,187,1) 5%, rgba(29,162,187,1) 50%, rgba(29,117,187,1) 95%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
  }
  .nav-ul, .nav-location, .enroll-btn-nav, .nav-links {
    display: none;
  }
  .mobile-menu-icon {
    display: grid;
    margin: 0;
    width: 100%;
    list-style-type: none;
  }
  .menu-icon {
    display: grid;
    margin: 0;
    height: 30px;
    padding-right: 20px;  

  }
  .mobile-logo {
    display: grid;
    margin: 0;
    list-style-type: none;
    align-self: center;
    justify-self: left;
    padding-left: 20px;  
  }
  .mobile-drop {
    display: grid;
    top: -500px;
    position: fixed;
    margin: 0;
    justify-content: right;
    align-content: flex-start;
    width: 100%;
    height: auto;
    background: rgb(140,198,63);
    background: linear-gradient(90deg, rgba(140,198,63,.95) 0%, rgba(14,221,128,.9) 50%, rgba(140,198,63,.95) 90%);
    margin-top: 60px;
  }
  .mobile-drop ul {
    display: grid;
    margin: 0;
    padding-top:20px;
    padding-bottom:20px;
    list-style-type: none;
    width: 100%;
  }  

  .mobile-drop ul li {
    list-style-type: none;
    justify-content: right;
    display: grid;
    width: 100%;
    padding: 10px 20px;
  }   
   .mobile-drop ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
  } 
  .mobile-drop ul li a:hover{
    color: rgb(29, 117, 187);
  } 
}
@media only screen and (max-width: 986px) {
  .content-wrapper-sp {
      display: grid;
      justify-self: center;
      justify-content: center;
      grid-template-columns: 100%;
      overflow: hidden;
    } 
    .contact-wrapper-sp {
      display: grid;
      justify-self: center;
      justify-content: center;
      grid-template-columns: 100%;
      overflow: hidden;
    }   
}
@media only screen and (max-width: 600px) {
  #header_wrapper {
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
  }
    .headerCatch-h1, .content-info h2, .content-h1 {
      font-size: 1.5em;
  }
  .headerCatch-h2, .content-h2 {
    font-size: 1.5em;
  }
}
