* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}
/* Image overlay */
.container {
  z-index: -1;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#admin-wrapper {
  display: grid;
  margin:  0 ;
  grid-template-columns: 50% 50%; 
  width: 100%;
  justify-content: flex-start;
  padding: 50px;
}
#admin-wrapper > div {
  display: grid;
  margin:  0 ;
  justify-content: flex-start;
}
#admin-wrapper > div:nth-child(even) {
  display: grid;
  margin:  0 ;
  justify-content: flex-start;
  background: rgb(236, 236, 236);
  min-height: 100%;
  min-width: 100%;
}
#admin-wrapper h2 {
  display: grid;
  margin: 0;

  text-align: left;
  justify-self: left;
}
#admin-wrapper h3 {
  display: grid;
  margin: 0;
  margin-bottom: 20;
  text-align: left;
  justify-self: left;
}
#header {
  display: grid;
  margin: auto;
  height: 45px;
  width: 100%;
  grid-template-columns: 50% 50%;
  box-shadow: 0px 0px 8px black;
  background: white;
  align-content: center;
  font-size: .9em;
}
.blue {
  color: rgb(29, 117, 187);
}
.headerCatch-h1 {
  font-size: 4em;
  text-transform: uppercase;
  text-shadow: 0px 8px 20px black;
}
.headerCatch-h2 {
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 0px 8px 20px black;
}
.header {
  height: 700px;
  object-fit: cover;
  width: 100%;
}
#header div {
  width: 100%;
  vertical-align: middle;

}
#header > div:nth-child(even) {
  display: grid;
  text-align: right;
  justify-content: right;
  width: 100%;
  align-self: center;
}
#header div ul {
  list-style-type: none;
  align-content: center;

}
#header > div ul li p {
  list-style-type: none;
  display: inline;
  padding-left: 10px;
  vertical-align: middle;

}
#header > div ul li {
  list-style-type: none;
  display: inline;
  padding-left: 10px;
}
#header > div ul li a {
  font-size: 1em;
  color: rgb(29, 117, 187);
  text-decoration: none;
  padding-right: 20px;
  align-content: center;
  vertical-align: middle;

  
}
#header > div ul li img {
  color: rgb(29, 117, 187);
  text-decoration: none;
  padding-right: 0px;
  vertical-align: middle;

}

#header > div ul li a:hover {
  color: rgb(140, 198, 63);
}
#header ul li img {
  margin-top: 4px;
  padding-right: 30px;
}
#below_header {
  text-align: right;
  height: 25px;
  width: 90%;
  padding-top: 50px;
  font-size: 0.8em;
  color: rgb(146, 146, 146);
}
#header_wrapper {
  margin: 0 auto;
  width: 100%;
}

#header_wrapper > div p {
  margin: auto;
  width: 40%;
  padding-left: 10px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  font-size: 1em;
}
#header_wrapper > div ul li {
  list-style-type: none;
  color: rgb(146, 146, 146);
  font-size: 0.9em;
  padding-left: 10px;
}
#header_wrapper > div ul li a {
  text-decoration: none;
  color: rgb(46, 136, 255);
  font-size: 0.9em;
}
#form_wrapper {
  display: grid;
  margin-top: 50px;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .5)

}
#form_wrapper .input_field {
  display: grid;
  width: 300px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: rgb(211, 211, 211);
  color: rgb(140, 198, 63);
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  height: 150px;
}
input[type='text'],
input[type='option'],
select,
input[type='tel'],
input[type='date'],
input[type='password'],
input[type='email'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.event-wrapper-sp {
  display: grid;
  margin: 0 auto;
  grid-template-areas: 'image title'
  'image user'
  'image date'
  'image content';
  grid-template-columns: 25% 70%;
  grid-template-rows: 20px 20px 20px auto;
  width: 50%;
  outline: 1px solid black;
  padding: 20px;
  margin-top: 50px;
}
.event-image {
  grid-area: image;
  align-self: center;
  margin: auto;
  justify-self: flex-start;
  width: 100%;
  padding-right: 20px;

}
.event-view-wrapper {
  display: grid;
  padding: 50px;
  width: 50%;
  align-content: flex-start;
  align-items: flex-start;
  color: rgb(59, 59, 59);
  font-size: .9em;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .5);
  margin-top: 50px;
  line-height: 30px;
}
.event-view-wrapper p{
  display: grid;
  padding-top: 50px;

  line-height: 30px;
}
.event-view-wrapper > div{
  width: 100%;
  align-content: flex-start;
  align-items: flex-start;
  align-items: flex-start;
}
.title {
  grid-area: title;
  align-content: flex-start;
  font-weight: bold;
  width: 100%;
  color: rgb(29, 117, 187);
  align-content: flex-start;
  text-transform: uppercase;
  
}
.date {
  grid-area: date;
  font-size: .9em;

}
.username {
  grid-area: user;
  color: rgb(140, 198, 63);
}
.event-content {
  grid-area: content;
  align-content: flex-start;
  line-height: 30px;
}
.event-wrapper-sp  > div {
  margin: 0;
  justify-self: left;
  text-align: left;
  justify-content: left;
}
.content-wrapper-sp {
  display: grid;
  justify-self: center;
  justify-content: center;
  grid-template-columns: 55%;
  overflow: hidden;
  margin-top: 50px;
}
.content-wrapper-sp > div {
  display: grid;
  flex-shrink: initial;
  justify-content: center;
  justify-items: left;
  align-content: flex-start;
  padding: 50px;
  z-index: -1;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  padding: 50px;
}
.content-wrapper:nth-child(even) {
  background: rgb(236, 236, 236);
}
.content-wrapper > div:nth-child(1) {
  display: grid;
  flex-shrink: initial;
  justify-content: center;
  justify-items: left;
  align-content: flex-start;
  width: 80%;
}
.content-wrapper > div:nth-child(2) {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  width: 80%;
}
.content-info {
  display: grid;
  height: 300px;
  background: rgb(29, 117, 187);
  width: 100%;
  padding: 50px;
}
.content-info:nth-child(even) {
  display: grid;
  height: 300px;
  background: rgb(140, 198, 63);
  width: 100%;
  padding: 50px;
}
.content-info h1 {
  font-size: 4em;
  color: white;
  text-transform: uppercase;
}
.content-info h2 {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
}
.content-info p {
  color: white;
  text-align: center;
  width: 50%;
  line-height: 30px;
}
.content-h1 {
  margin: 0;
  color: rgb(29, 117, 187);
  font-size: 4em;
  text-align: left;
  padding: 0;
  text-transform: uppercase;
}
.content-h2 {
  margin: 0;
  color: rgb(29, 117, 187);
  font-size: 3em;
  text-align: left;
  font-weight: lighter;
  padding: 0;
  text-transform: uppercase;
}
.content-sp-h1 {
  margin: 0;
  color: rgb(29, 117, 187);
  font-size: 3em;
  text-align: left;
  padding: 0;
  text-transform: uppercase;
}
.content-sp-h2 {
  margin: 0;
  color: rgb(29, 117, 187);
  font-size: 2em;
  text-align: left;
  font-weight: lighter;
  padding: 0;
  text-transform: uppercase;
}
.content-wrapper p,
.content-wrapper-sp p {
  line-height: 30px;
  padding-bottom: 30px;
}
.content-img {
  display: flex;
  width: 100%;
  object-fit: contain;
}
.contact {
  display: grid;
  height: 100%;
  background: url('../KinderMission-assets/contactbg.png');
  background-position: top;
}
.contact-form {
  width: 400px;
  background: white;
  justify-self: center;
  align-self: center;
  padding: 20px;
}
.enrollment-form {
  width: 400px;
  background: white;
  margin: 0;
}
.contact-form > input[type='text'] {
  margin-top: 20px;
}
.contact-form p,
h3 {
  color: rgb(29, 117, 187);
  text-align: center;
}
.message {
  height: 100px;
  width: 300px;
}
#footer {
  display: grid;
  margin: 0 auto;
  justify-self: center;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto;
  color: rgb(29, 117, 187);
  font-weight: normal;
  font-size: 1em;
  padding: 50px;
  margin-top: 50px;
}
#footer a {
  color: rgb(29, 117, 187);
  text-decoration: none;
}
#footer ul {
  list-style-type: none;
  padding: 15px;
}
#footer ul li {
  list-style-type: none;
  padding: 5px;
}
#footer h3 {
  text-align: left;
  border-bottom: 1px solid rgb(29, 117, 187);
}
#footer > div {
  justify-self: center;
}
.footer-logo {
  width: 100px;
}
.footer-p {
  margin: auto;
  text-align: center;
  color: black;
  font-size: .8em;
  padding: 20px;
}
/* Buttons */

.enroll-btn,
.enroll-btn:focus {
  margin-top: 20px;
  width: 130px;
  height: 45px;
  background-color: rgb(140, 198, 63);
  box-shadow: 0px 2px 6px black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
}
.learn-btn {
  margin: 0;
  margin-top: 20px;
  width: 130px;
  height: 45px;
  background-color: rgb(140, 198, 63);
  box-shadow: 0px 2px 6px black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
}
.learn-btn2 {
  width: 130px;
  height: 45px;
  background-color: rgb(29, 117, 187);
  box-shadow: 0px 2px 6px black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
}
.submit-btn {
  display: grid;
  width: 100%;
  place-content: center;
  height: 45px;
  background-color: rgb(29, 117, 187);
  box-shadow: 0px 2px 6px black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.admin-btn {
  display: grid;
  width: 300px;
  place-content: center;
  height: 45px;
  background-color: rgb(29, 117, 187);
  box-shadow: 0px 2px 6px black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.admin-btn:hover {
  display: grid;
  width: 300px;
  place-content: center;
  height: 45px;
  background-color: rgb(140, 198, 63);
  box-shadow: 0px 2px 6px black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Classes */
.bold {
  font-weight: bold;
}
.phone {
  align-self: center;
}