.event-wrapper {
    display: grid;
    grid-template-areas: col col col;
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 3%;
    padding-top: 80px;
    }
.events-h2 {
    display: grid;
    grid-column: 1 / span 3;
    padding: 3%;
    font-size: 3em;
    color: rgb(29, 117, 187);
}
.event-card {
    display: grid;
    grid-template-areas: 'image' 'content';
    grid-template-rows: 216px auto;
    width: 384px;
    box-shadow: 0px 0px 10px black;
    }
.event-card .image {
    display: grid;
    grid-area: image;
    }
.event-card .content {
    display: grid;
    grid-area: content;
    grid-template-areas: 'event-header''view-more';
    grid-template-rows: 1fr 40px;
    width: 100%;
    height: 250px;
    padding: 3%;
    }
.event-header {
    grid-area: event-header;
    width: 100%;
}
.event-view-more {
    grid-area: view-more;
    width: 100%;
    height: 40px;
    align-content: center;
    justify-content: center;

}
.event-button-view {
    display: grid;
    margin: auto;
    background: rgb(29, 117, 187);
    text-decoration: none;
    color: white;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-content: center;

}
.event-button-view:hover {
    background: rgb(140, 198, 63);
}
.event-title {
    color: rgb(29, 117, 187);
    font-weight: bold;
    font-size: 1.3em;
}
.event-user {
    color: rgb(140, 198, 63);
    font-weight: bold;
    font-size: .9em;
    font-style: italic;
}
.event-date {

}
.event-image {
    height: 216px;
    width: 384px;
}
.event-card .content  ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
.event-view-wrapper {
    display: grid;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 120px;  
}
.event-view-wrapper > div{
    width: 50%;
}
.view-event-image {
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}